.quest{
    margin-bottom: 100px;
    &__title{
        text-align: center;
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
        @include media(992){
            flex-direction: column;
            align-items: center;
            row-gap: 30px;   
        }
    }
    &__img{
        filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
        max-width: 100%;
    }
    &__content{
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }
    .set{
        box-shadow: 0px 10px 20px 0px #29292A12;
    }
}