* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 100px;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', sans-serif;
    &:focus,
    &:active {
        outline: none;
    }
}
button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
}
input {
    font-family: inherit;
}
a {
    text-decoration: none;
}
.bg-blue{
    background: #E4EFF5;
}
.accordion-container{
    position: relative;
    max-width: 850px;
    height: auto;
    margin: 0 auto;
}
.set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    &:not(:last-of-type){
        margin-bottom: 30px;
    }
}
.set > a{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #E4EFF5;
    transition:all 0.2s linear;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    background: #FFFFFF;
    @include media(768){
        font-size: 20px;
        line-height: 120%;   
    }
    @include media(576){
        font-size: 16px;
    }
}
.set > a img{
    transition: 200ms ease-out;
}
.set > a.active{
    img{
        transform: rotate(180deg);
    }
}
.content{
    background-color: #fff;
    display:none;
    padding: 25px 30px;
}
.content p{
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    @include media(768){
        font-size: 16px;
        line-height: 120%;   
    }
    @include media(576){
        font-size: 14px;
    }
}
.drop{
    position: relative;
    width: max-content;
    z-index: 2;
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #18191F;
        img{
            margin-left: 7px;
            transition: 200ms ease;
        }
        &.active{
            img{
                transform: rotate(180deg);
            }
            &~.drop__content{
                display: flex;
            }
        }
    }
    &__content{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: calc(100% + 6px);
        left: 50%;
        min-width: 100%;
        width: 150px;
        transform: translateX(-50%);
        background: #0A1C27;
        border-radius: 10px;
        overflow: hidden;
        &_2{
            top: calc(100% - 5px);
            z-index: -1;
            left: 0;
            width: 100%;
            transform: translateX(0);
            border-radius: 0 0 10px 10px;
            align-items: center;
            justify-content: center;
            column-gap: 6px;
            padding: 17px 0 12px 0;
        }
    }
    &__link{
        padding: 8px 16px;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        font-feature-settings: 'salt' on, 'liga' off;
        &:hover{
            background: lighten(#0A1C27, 5%);
        }
    }
}
.btn{
    background: #31D37A;
    border-radius: 6px;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    width: max-content;
    transition: 200ms ease-out;
    border: 2px solid transparent;
    &:hover{
        background: #fff;
        color: #31D37A;
        border: 2px solid #31D37A;
    }
    &-white{
        background: #FFFFFF;
        border-radius: 6px;
        padding: 12px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #18191F;
        width: max-content;
        transition: 200ms ease-out;
        &:hover{
            background: #31D37A;
            color: #FFFFFF;
        }
    }
}
.title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    margin-bottom: 30px;
    @include media(1200){
        font-size: 44px;
        line-height: 120%;
    }
    @include media(992){
        font-size: 40px;   
    }
    @include media(768){
        font-size: 32px;
    }
    @include media(576){
        font-size: 28px;   
    }
}
.swiper{
    &-button{
        &-next{
            height: 100%;
            width: 70px;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;
            @include media(1500){
                right: 0;
                display: none;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #fff;
                z-index: 1;
                @include media(1500){
                    display: none;   
                }
            }     
            &::after{
                content: url('../images/next.svg');
                z-index: 2;
            }                           
        }
        &-prev{
            height: 100%;
            width: 70px;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;
            @include media(1500){
                left: 0;
                display: none;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #fff;
                z-index: 1;
                @include media(1500){
                    display: none;
                }
            }    
            &::after{
                content: url('../images/prev.svg');
                z-index: 2;
            }                        
        }
    }
}
.swiper-pagination{
    display: none;
    @include media(1500){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-bullet{
        background: #31D37A;
    }
}