mixin about()
    .about#about 
        .about__body.container 
            h2.title.about__title Обо мне
            p.about__p С 2009 года занимаюсь продвижением сайтов и бизнеса в интернете. Работал в digital агентствах Москвы и Санкт-Петербурга. На сегодняшний день интернет — один из наиболее мощных инструментов привлечения клиентов. Продвижение сайта позволит Вам не просто наблюдать свой ресурс на высоких позициях в выдаче поисковых систем, но и привести реальных покупателей. Причем, часто этот инструмент гораздо эффективнее оффлайн-рекламы.
            .about__items 
                .about__items.about__subitems.lg
                    .about__item    
                        img(src="images/icon-1.png", alt="").about__item-img 
                        .about__item-content 
                            p.about__item-title 10,000+ 
                            p.about__item-p Запросов проработано 
                    .about__item    
                        img(src="images/icon-2.png", alt="").about__item-img 
                        .about__item-content 
                            p.about__item-title 12М
                            p.about__item-p Пользователей
                .about__items.about__subitems
                    .about__item    
                        img(src="images/icon-3.png", alt="").about__item-img 
                        .about__item-content 
                            p.about__item-title 60+
                            p.about__item-p Клиентов
                    .about__item    
                        img(src="images/icon-4.png", alt="").about__item-img 
                        .about__item-content 
                            p.about__item-title 12
                            p.about__item-p Стран