mixin analis()  
    .analis   
        .analis__body.container 
            .analis__content
                .analis__main
                    h3.analis__title Первичный анализ
                    p.analis__p Только 30% от стоимости продвижения мы берем в качестве оплаты за работу, а у конкурентов 30% это весь бюджет на Ваш проект. Все цены, с учетом — дизайнеров, копирайтеров, программ, серверов и программистов. Никаких скрытых доплат — все честно!
                    a(href="#!").btn.analis__btn Получить бесплатно 
                img(src="images/analis.png", alt="" draggable="false").analis__img