mixin brands()
    .brands.bg-blue 
        .brands__body.container 
            h2.title.brands__title Сайты над которыми я работал
            .brands__content 
                .brands__item 
                    img(src="images/brand-1.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-2.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-3.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-4.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-5.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-6.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-7.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-8.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-9.png", alt="" draggable="false")
                .brands__item 
                    img(src="images/brand-10.png", alt="" draggable="false")
            a(href="#!").btn-white.brands__btn Все бренды 
