mixin cases()
    .cases#cases 
        .cases__body.container 
            h2.cases__title.title Кейсы
            .cases__content 
                img(src="images/keysi-1.png", alt="").cases__img
                img(src="images/keysi-2.png", alt="").cases__img
                img(src="images/keysi-1.png", alt="").cases__img
                img(src="images/keysi-2.png", alt="").cases__img
                img(src="images/keysi-1.png", alt="").cases__img
                img(src="images/keysi-2.png", alt="").cases__img
            a(href="#!").btn.cases__btn Смотреть все кейсы 