mixin diploms()
    .diploms 
        .diploms__body.container 
            h2.title.diploms__title Дипломы и сертификаты
            .swiper.diploms__slider
                .swiper-wrapper 
                    .swiper-slide.diploms__slider-item 
                        img(src="images/diplom-1.png", alt="")
                    .swiper-slide.diploms__slider-item 
                        img(src="images/diplom-2.png", alt="")
                    .swiper-slide.diploms__slider-item
                        img(src="images/diplom-3.png", alt="")
                    .swiper-slide.diploms__slider-item
                        img(src="images/diplom-4.png", alt="")
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination