mixin footer()
    footer.footer#contacts 
        .footer__body.container 
            .footer__left
                a(href="#top").footer__logo
                    img(src="images/logo.png", alt="") 
                p.footer__copy © Seodester. Все права защищены
            .footer__right
                a(href="mailto:desterseo@gmail.com").footer__link desterseo@gmail.com
                .header__socials 
                    a(href="#!").header__socials-item 
                        img(src="images/whatsapp.png", alt="")
                    a(href="#!").header__socials-item 
                        img(src="images/wk.png", alt="")
                    a(href="#!").header__socials-item 
                        img(src="images/skype.png", alt="")
                    a(href="#!").header__socials-item 
                        img(src="images/viber.png", alt="")
                    a(href="#!").header__socials-item 
                        img(src="images/telegram.png", alt="")   