mixin header()
    header.header#top 
        .header__body.container 
            .header__left
                a(href="#top").header__logo
                    img(src="images/logo.png", alt="")
            .header__menu
                .header__list
                    .drop
                        button(type='button' onclick="openDrop(this)").drop__btn Услуги
                            img(src="images/drop.svg", alt="")
                        .drop__content
                            a(href="index.html").drop__link Услуга 1 
                            a(href="index.html").drop__link Услуга 2
                            a(href="index.html").drop__link Услуга 3 
                    a(href="#about").header__link Обо мне
                    a(href="#rates").header__link Тарифы
                    a(href="#cases").header__link Кейсы
                    a(href="#contacts").header__link Контакты
                .header__right 
                    a(href="mailto:desterseo@gmail.com").header__link desterseo@gmail.com
                    .header__socials 
                        a(href="#!").header__socials-item 
                            img(src="images/whatsapp.png", alt="")
                        a(href="#!").header__socials-item 
                            img(src="images/wk.png", alt="")
                        a(href="#!").header__socials-item 
                            img(src="images/skype.png", alt="")
                        a(href="#!").header__socials-item 
                            img(src="images/viber.png", alt="")
                        a(href="#!").header__socials-item 
                            img(src="images/telegram.png", alt="")
            button.header__button 
              span.header__button-line


            