mixin intro()
    .intro  
        .intro__body.container 
            .intro__content
                h1.intro__title SEO продвижение сайта
                p.intro__desc Частный специалист Ермольчик Дмитрий
                .intro__row 
                    img(src="images/bullet.svg", alt="")
                    p Опыт в SEO более 6 лет. За это время прошел путь от помощника специалиста до эксперта по SEO-стратегиям.
                .intro__row 
                    img(src="images/bullet.svg", alt="")
                    p В 2020 году перешел полностью на частную практику.
                .intro__row 
                    img(src="images/bullet.svg", alt="")
                    p Имею высшее образование и успешные кейсы по продвижению.
                p.intro__subtitle Первичный анализ
                p.intro__text Если ваш сайт не растет в выдаче — на это есть причины. Анализ не продвинет ваш сайт но поможет понять проблему.
                a(href="#!").btn.intro__btn  Получить бесплатно
            img(src="images/chel.png", alt="" draggable="false").intro__img