mixin plan()
    .plan.bg-blue 
        .plan__body.container 
            h2.plan__title.title Шаблонный план работ
            .accordion-container
                .set    
                    a(href="#!").active Технический аудит, подготовка и реализация рекомендаций 
                        img(src="images/drop-green.svg", alt="")
                    .content(style="display: block;") 
                        p Корректности работы с 404-ошибкой. Код ответа документа должен быть «404 Not Found» и никакой более. Кодов ответов сервера всех страниц на сайте посредством сканирования проекта через программу Screaming Frog SEO Spider. На сайте не должно быть документов, отдающих код ответ сервера не 200 Ok. Анализ внутренних ссылок на Сайте, поиск предупреждений, замечаний и ошибок в панели веб-мастера.
                .set    
                    a(href="#!") Юзабилити аудит
                        img(src="images/drop-green.svg", alt="")
                    .content 
                        p Корректности работы с 404-ошибкой. Код ответа документа должен быть «404 Not Found» и никакой более. Кодов ответов сервера всех страниц на сайте посредством сканирования проекта через программу Screaming Frog SEO Spider. На сайте не должно быть документов, отдающих код ответ сервера не 200 Ok. Анализ внутренних ссылок на Сайте, поиск предупреждений, замечаний и ошибок в панели веб-мастера.