mixin posts()
    .posts.bg-blue
        .posts__body.container 
            .posts__row 
                .posts__item
                    img(src="images/post-1.png", alt="").posts__item-img
                    p.posts__item-title Как подготовить сайт к оптимизации
                .posts__item
                    img(src="images/post-2.png", alt="").posts__item-img
                    p.posts__item-title Как настроить аналитику сайта
                .posts__item
                    img(src="images/post-3.png", alt="").posts__item-img
                    p.posts__item-title Что такое опитмизация
            a(href="#!").posts__btn.btn-white Все статьи 
