mixin rates()
    .rates#rates 
        .rates__body.container
            h2.title.rates__title Тарифы
            .rates__row 
                .rates__item
                    p.rates__item-title Тариф «Старт»
                    p.rates__item-p СЕО оптимизация<br>Публикация статей<br>Программирование и доработка<br>
                        span Установка CMS<br>
                        span Покупка качественных ссылок
                    p.rates__item-price 20000 ₽
                    .drop
                        button(type='button' onclick="openDrop(this)").drop__btn.btn Связаться
                            img(src="images/drop-white.svg", alt="")
                        .drop__content.drop__content_2
                            .drop__item
                                a(href="#!").drop__item-icon 
                                    img(src="images/whatsapp.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/wk.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/skype.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/viber.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/telegram.png", alt="")
                .rates__item
                    p.rates__item-title Тариф «Стандарт»
                    p.rates__item-p СЕО оптимизация<br>Публикация статей<br>Программирование и доработка<br>Установка CMS<br>Покупка качественных ссылок<br>СЕО оптимизация<br>Публикация статей<br>Программирование и доработка<br>
                        span Установка CMS<br>
                        span Покупка качественных ссылок
                    p.rates__item-price 30000 ₽
                    .drop
                        button(type='button' onclick="openDrop(this)").drop__btn.btn Связаться
                            img(src="images/drop-white.svg", alt="")
                        .drop__content.drop__content_2
                            .drop__item
                                a(href="#!").drop__item-icon 
                                    img(src="images/whatsapp.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/wk.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/skype.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/viber.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/telegram.png", alt="")
                .rates__item
                    p.rates__item-title Тариф «Премиум»
                    p.rates__item-p СЕО оптимизация<br>Публикация статей<br>Программирование и доработка<br>Установка CMS<br>Покупка качественных ссылок<br>СЕО оптимизация<br>Публикация статей<br>Программирование и доработка<br>Установка CMS<br>Покупка качественных ссылок<br>СЕО оптимизация<br>Публикация статей<br>Программирование и доработка
                    p.rates__item-price 40000 ₽
                    .drop
                        button(type='button' onclick="openDrop(this)").drop__btn.btn Связаться
                            img(src="images/drop-white.svg", alt="")
                        .drop__content.drop__content_2
                            .drop__item
                                a(href="#!").drop__item-icon 
                                    img(src="images/whatsapp.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/wk.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/skype.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/viber.png", alt="")
                                a(href="#!").drop__item-icon 
                                    img(src="images/telegram.png", alt="")
