mixin reviews()
    .reviews 
        .reviews__body.container 
            h2.title.reviews__title Отзывы клиентов
            .reviews__slider.swiper 
                .swiper-wrapper 
                    .swiper-slide.reviews__slide
                        .reviews__slide-item
                            .reviews__slide-content 
                                p.reviews__slide-title Выражаем огромную благодарность команде SeoDester за плодотворную и трудоемкую отличную работу над нашим интернет-магазином Perfume.by.
                                p.reviews__slide-p Отдельные теплые слова выражаем Дмитрию, который является профессионалом своего...
                                a(href="#!").reviews__slide-link Полный текст отзыва → 
                            img(src="images/reviews-1.png", alt="" draggable="false")
                        .reviews__slide-bot 
                            p.reviews__slide-bot-title О. Шинкевич
                            p.reviews__slide-bot-profes Руководитель
                            .reviews__slide-bot-stars 
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                    .swiper-slide.reviews__slide
                        .reviews__slide-item
                            .reviews__slide-content 
                                p.reviews__slide-title Выражаем огромную благодарность команде SeoDester за плодотворную и трудоемкую отличную работу над нашим интернет-магазином Perfume.by.
                                p.reviews__slide-p Отдельные теплые слова выражаем Дмитрию, который является профессионалом своего...
                                a(href="#!").reviews__slide-link Полный текст отзыва → 
                            img(src="images/reviews-2.png", alt="" draggable="false")
                        .reviews__slide-bot 
                            p.reviews__slide-bot-title О. Шинкевич
                            p.reviews__slide-bot-profes Руководитель
                            .reviews__slide-bot-stars 
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                    .swiper-slide.reviews__slide
                        .reviews__slide-item
                            .reviews__slide-content 
                                p.reviews__slide-title Выражаем огромную благодарность команде SeoDester за плодотворную и трудоемкую отличную работу над нашим интернет-магазином Perfume.by.
                                p.reviews__slide-p Отдельные теплые слова выражаем Дмитрию, который является профессионалом своего...
                                a(href="#!").reviews__slide-link Полный текст отзыва → 
                            img(src="images/reviews-1.png", alt="" draggable="false")
                        .reviews__slide-bot 
                            p.reviews__slide-bot-title О. Шинкевич
                            p.reviews__slide-bot-profes Руководитель
                            .reviews__slide-bot-stars 
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                    .swiper-slide.reviews__slide
                        .reviews__slide-item
                            .reviews__slide-content 
                                p.reviews__slide-title Выражаем огромную благодарность команде SeoDester за плодотворную и трудоемкую отличную работу над нашим интернет-магазином Perfume.by.
                                p.reviews__slide-p Отдельные теплые слова выражаем Дмитрию, который является профессионалом своего...
                                a(href="#!").reviews__slide-link Полный текст отзыва → 
                            img(src="images/reviews-2.png", alt="" draggable="false")
                        .reviews__slide-bot 
                            p.reviews__slide-bot-title О. Шинкевич
                            p.reviews__slide-bot-profes Руководитель
                            .reviews__slide-bot-stars 
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                                img(src="images/star.svg", alt="")
                .swiper-button-next.reviews__slide-next
                .swiper-button-prev.reviews__slide-prev
            a(href="#!").btn-white.reviews__btn Все отзывы